html, body {
  font-family: 'Open Sans', sans-serif;  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0
}

#app {
  height: 100%;
  width: 100%;
}

.loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
  position: absolute;
  top: 0px;
  left: 50px;
  background-color: #ffffff;
  padding: 15px;
  z-index: 999;
  line-height: 0.7em;
}

h1 small {
  font-size: 14px;
  font-weight: 400;
}

.radiuspicker {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: #cccccc;
  padding: 15px;
  margin: 15px;
  z-index: 999;
  width: 300px;
  height: 30px;
}

.locator {
  padding: 5px;
  padding-bottom: 3px;
  float: right;
}

.locator img{
  height: 15px;
  width: 15px;
}

.trucklist {
  top: 60px;
  right: 5px;
  position: absolute;
  background-color: white;
  padding: 15px;
  margin: 15px;
  margin-top: 0px;
  z-index: 99;
  width: 300px;
  height: 85%;
  overflow: scroll;
}

.trucklist ul {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.trucklist li h4 {
  margin-bottom: 0px;
}

.trucklist li p {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Responsive styles for phones/tablet */
@media (max-width:800px) {

  h1 {
    top: 15px;
    left: auto;
    right: 0px;
    width: 200px;
    font-size: 20px;
    padding: 15px;
  }

  h1 small {
    font-size: 12px;
    font-weight: 400;
  }

  .trucklist {
    display: none;
  }

  .radiuspicker {
    position: absolute;
    top: auto;
    bottom: 10px;
    right: 0px;
    width: 200px;
    font-size: 16px;
    padding: 10px;
  }
}